{{- if and .Values.credentials.enabled .Values.credentials.create }}
{{- $credentials_data := default "" .Values.credentials.data }}
{{- $credentials_trim := trim $credentials_data }}
{{- if or (eq $credentials_trim "") (eq $credentials_trim "\"\"") }}
{{- fail "credentials.create is true but credentials.data is empty; provide inline credentials.json data" }}
{{- end }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.credentials.secretName }}
  labels:
    {{- include "mmrelay.labels" . | nindent 4 }}
  namespace: {{ .Release.Namespace }}
type: Opaque
stringData:
  {{ .Values.credentials.key }}: |-
{{ $credentials_data | nindent 4 }}
{{- end }}
